body{
  background-color: orange;
}
Header{
  background-color: firebrick;
  color: white;
  padding: 20px;
  text-align: center;
}
Footer{
  background-color: firebrick;
  color: white;
  padding: 20px;
  text-align: center;
  }
  nav{
    background-color: purple;
    color: white;
    padding: 50px;
    text-align: center;
  }
  a{
    color: white;
    padding: 20px;
    text-decoration: none;
    font-size: 30px;
    
  }
  p{
    color: white;
    padding: 20px;
    text-align: justify;
  }
  .a1{
      background-color: darkblue;
      padding: 20px;
     
      color:white;
  }
  .h11{
    background-color: darkblue;
    padding: 20px;
  
    color:white;  
  }
  form{
    background-color: darkblue;
    padding: 20px;
    color:white;
    margin: auto;
  }

.ff1{
  margin: 0;
}    
  .form-group {
            margin-bottom: 15px;
  }
input, textarea {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            outline: none;
            transition: 0.3s;
        }
         input:focus, textarea:focus {
            border-color: #4e73df;
        }
 textarea {
            resize: none;
            height: 100px;
        }
         button {
            width: 100%;
            padding: 10px;
            border: none;
            background: #4e73df;
            color: #fff;
            font-size: 16px;
            border-radius: 5px;
            cursor: pointer;
            transition: 0.3s;
        }

        button:hover {
            background: #2e59d9;
        }
         @media (max-width: 500px) {
            .container {
                margin: 15px;
                padding: 20px;
            }
        }